
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-controller="UserDashBoardCtrl as vm">
    <h2>User Dashboard</h2>

    <button ng-click="vm.getUserInfo()">Info</button>
</div>
